<% content_for :body_content_title do %>
  <%= @team.title %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @team.title %>
    </p>
  </section>
  <section>
    <h1>Photo</h1>
    <p>
      <%= image_fu @team.photo, nil %>
    </p>
  </section>
  <section>
    <h1>Name</h1>
    <p>
      <%=raw @team.name %>
    </p>
  </section>
  <section>
    <h1>Job Title</h1>
    <p>
      <%=raw @team.job_title %>
    </p>
  </section>
  <section>
    <h1>Description Title</h1>
    <p>
      <%=raw @team.description_title %>
    </p>
  </section>
  <section>
    <h1>Description</h1>
    <p>
      <%=raw @team.description %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="teams">
      <% @teams.each do |team| %>
        <li>
          <%= link_to team.title, refinery.teams_team_path(team) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
